<div class="container">
<header class="page-header">
    <br>
    <br>
    <h1>About me! Juan Guillermo Murillo Castillo</h1>
  </header>
<h2>Skills</h2>
	<ul>
		<li>Java</li>
		<li>JavaScript</li>
		<li>AngularJS</li>
		<li>NodeJS</li>
		<li>NodeRed</li>
		<li>SQL</li>
	</ul>
<!-- <svg width="960" height="880"></svg> -->
<h2>Courses</h2>
	<ul>
		<li>Sistemas Transaccionales</li>
		<li>Diseño y Análisis de Algoritmos</li>
		<li>Desarrollo de Software en equipo</li>
		<li>Arquitectura y diseño de Software</li>
		<li>Programación con tecnologías Web</li>
		<li>Infraestructura Comunicaciones</li>
		
	</ul>
<h2>Online Courses</h2>
	<ul>
		<li>AngularJS</li>
		<li>JavaScript, understanding the weird parts</li>
	</ul>
<h2>Hobbies</h2>
	<ul>
		<li>Football</li>
		<li>Tenis de Mesa</li>
		<li>Poll</li>
		<li>Softball</li>
		<li>Ultimate</li>
	</ul>
</div>