<div class="container">
<h1 class="center">Acerca de mí</h1>
<h2>Habilidades</h2>
	<ul>
		<li>Java</li>
		<li>JavaScript</li>
		<li>AngularJS</li>
		<li>NodeJS</li>
		<li>NodeRed</li>
		<li>SQL</li>
	</ul>
<!-- <svg width="960" height="880"></svg> -->
<h2>Cursos en la Universidad</h2>
	<ul>
		<li>Sistemas Transaccionales</li>
		<li>Diseño y Análisis de Algoritmos</li>
		<li>Desarrollo de Software en equipo</li>
		<li>Arquitectura y diseño de Software</li>
		<li>Programación con tecnologías Web</li>
		<li>Infraestructura Comunicaciones</li>
		
	</ul>
<h2>Cursos Online</h2>
	<ul>
		<li>AngularJS</li>
		<li>JavaScript, understanding the weird parts</li>
	</ul>
<h2>Intereses</h2>
	<ul>
		<li>Fútbol</li>
		<li>Tenis de Mesa</li>
		<li>Billar</li>
		<li>Softball</li>
		<li>Ultimate</li>
	</ul>
</div>